<!-- Modal -->
<div class="modal fade" id="modalLuvas" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xxl-down modal-dialog-centered">
        <div class="modal-content">         
            <div class="modal-header">
                <h4 class="modal-title">Luvas</h4>
                <button type="button" class="btn-close pe-5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-12">
                            <h4>A utilização de luvas na comunidade não está recomendada.</h4>
                            <br><br> 
                            <p class="text-justify">
                                A sua utilização incorreta pode aumentar o risco de transmissão. Por isso as luvas podem ser usadas para:
                                <ul>                                    
                                    <li>manipulação de alimentos;</li>
                                    <li>lavagem de roupa;</li>
                                    <li>limpeza de casas de banho ou de outras superfícies com lixívia ou outros desinfetantes</li>
                                    <li>No caso de ser cuidador de um doente com COVID-19 ou profissional de saúde deve usar luvas ao executar procedimentos que envolvam contacto direto com a pele, mucosas ou fluídos corporais.</li>
                                </ul>
                            </p>                                     
                        </div>
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <img src="images/sns.png" alt="">
                            <a href="tel:808242424" class="btn btn-rosa">808 24 24 24</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ps-5">
                            <p class="text-justify">
                                Se tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">1</strong> – se tem febre (temperatura ≥ 38.0ºC) ou tosse e seguir as orientações dadas</li>
                                    <li><strong class="c-rosa">2</strong> – se apresentar outros sintomas sem ser febre ou tosse e seguir as orientações dadas;</li>
                                </ul>
                            </p>
                            <br><br>
                            <p class="text-justify">
                                Se não tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">0</strong> – “Se não tem febre, nem tosse, nem qualquer outro sintoma, mas esteve perto de uma pessoa que tem COVID-19 ou que fez recentemente o teste” – e seguir as orientações que lhe são dadas</li>                                    
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>