<!-- Modal -->
<div class="modal fade" id="modalSintomas" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xxl-down modal-dialog-centered">
        <div class="modal-content">         
            <div class="modal-header">
                <h4 class="modal-title">Sintomas</h4>
                <button type="button" class="btn-close pe-5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="text-justify">Para os que desenvolvem sintomas (cerca de 80%) se recupera da doença sem precisar de tratamento hospitalar. Aproximadamente de 15% ficam gravemente doentes e precisam de oxigênio e os outros 5% ficam gravemente doentes e precisam de cuidados intensivos.</p>
                            <br><br>
                            <p>
                                Os sintomas mais comuns de COVID-19 são:
                                <ul>
                                    <li>Febre (maior de 37,5ºC);</li>
                                    <li>Tosse seca;</li>
                                    <li>Fadiga</li>
                                </ul>
                            </p>
                            <br><br>
                            <p>
                                Outros sintomas que são menos comuns e podem afetar alguns pacientes incluem:
                                <ul>
                                    <li>Perda de paladar ou cheiro;</li>
                                    <li>Congestão nasal;</li>
                                    <li>Conjuntivite (também conhecida como olhos vermelhos);</li>
                                    <li>Dor de garganta;</li>
                                    <li>Dor de cabeça;</li>
                                    <li>Dores musculares ou articulares;</li>
                                    <li>Diferentes tipos de erupções cutâneas;</li>
                                    <li>Náusea ou vômito;</li>
                                    <li>Diarreia,</li>
                                    <li>Calafrios ou tonturas</li>
                                </ul>                                
                            </p>
                            <br><br>
                            <p>
                                Os sintomas da doença COVID-19 grave incluem:
                                <ul>                                    
                                    <li>Falta de ar;</li>
                                    <li>Perda de apetite;</li>
                                    <li>Confusão;</li>
                                    <li>Dor ou pressão persistente no peito;</li>
                                    <li>Alta temperatura (acima de 38 ° C)</li>
                                </ul>
                            </p>
                            <br><br>
                            <p>
                                Outros sintomas menos comuns são:
                                <ul>
                                    <li>Irritabilidade;</li>
                                    <li>Confusão;</li>
                                    <li>Consciência reduzida (às vezes associada a  convulsões);</li>
                                    <li>Ansiedade;</li>
                                    <li>Depressão;</li>
                                    <li>Distúrbios do sono;</li>
                                    <li>Complicações neurológicas mais graves e raras, como derrames, inflamação do cérebro, delírio e danos aos nervos;</li>
                                </ul>
                            </p>
                            <br><br>
                            <p>O período de contágio (tempo decorrido entre a exposição ao vírus e o aparecimento de sintomas) é atualmente considerado de 14 dias. A transmissão por pessoas assintomáticas (sem sintomas) ainda está a ser investigada</p>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <img src="images/sns.png" alt="">
                            <a href="tel:808242424" class="btn btn-rosa">808 24 24 24</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ps-5">
                            <p class="text-justify">
                                Se tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">1</strong> – se tem febre (temperatura ≥ 38.0ºC) ou tosse e seguir as orientações dadas</li>
                                    <li><strong class="c-rosa">2</strong> – se apresentar outros sintomas sem ser febre ou tosse e seguir as orientações dadas;</li>
                                </ul>
                            </p>
                            <br><br>
                            <p class="text-justify">
                                Se não tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">0</strong> – “Se não tem febre, nem tosse, nem qualquer outro sintoma, mas esteve perto de uma pessoa que tem COVID-19 ou que fez recentemente o teste” – e seguir as orientações que lhe são dadas</li>                                    
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>