<!-- Modal -->
<div class="modal fade" id="modalTransmissao" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xxl-down modal-dialog-centered">
        <div class="modal-content">         
            <div class="modal-header">
                <h4 class="modal-title">Transmissão</h4>
                <button type="button" class="btn-close pe-5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="text-justify">O vírus pode se espalhar pela boca ou nariz de uma pessoa infetada em pequenas partículas líquidas quando esta tosse, espirra, fala, canta ou respira profundamente. Essas partículas líquidas têm tamanhos diferentes, variando de "gotículas respiratórias" maiores a "aerossóis" menores.</p>
                            <br><br>   
                            <p class="text-justify">Outras pessoas podem ficar infetadas quando o vírus entra em sua boca, nariz ou olhos, o que é mais provável de acontecer quando as pessoas estão em contato direto ou próximo (a menos de 1 metro de distância) com uma pessoa infetada.</p>                         
                            <br><br> 
                            <p class="text-justify">A evidência atual sugere que a principal forma de propagação do vírus é por gotículas respiratórias entre as pessoas que estão em contato próximo umas com as outras.</p>
                            <br><br>
                            <p class="text-justify">A transmissão de aerossóis pode ocorrer em ambientes específicos, particularmente em espaços fechados, lotados e com ventilação inadequada, onde pessoas infetadas passam longos períodos de tempo com outras. Tais como restaurantes, práticas de coral, aulas de ginástica, bares, escritórios e / ou locais de lazer.</p>
                            <br><br>
                            <p class="text-justify">O vírus também pode se espalhar depois que pessoas infetadas espirram, tossem ou tocam em superfícies ou objetos, como mesas, maçanetas e corrimãos. Outras pessoas podem ser infetadas ao tocar nessas superfícies contaminadas e, em seguida, tocar seus olhos, nariz ou boca sem ter primeiro lavado as mãos.</p>                                                 
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Tipos de Superficie</th>
                                        <th>Permanência do Vírus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cerâmica</td>
                                        <td>até 120h</td>
                                    </tr>
                                    <tr>
                                        <td>Madeira</td>
                                        <td>até 96h</td>
                                    </tr>
                                    <tr>
                                        <td>Vidro</td>
                                        <td>até 96h</td>
                                    </tr>
                                    <tr>
                                        <td>Aço</td>
                                        <td>até 72h</td>
                                    </tr>        
                                    <tr>
                                        <td>Plástico</td>
                                        <td>até 72h</td>
                                    </tr>                                
                                    <tr>
                                        <td>Cartão</td>
                                        <td>menos de 24h</td>
                                    </tr>
                                    <tr>
                                        <td>Cobre</td>
                                        <td>menos de 4h</td>
                                    </tr>
                                    <tr>
                                        <td>Alumínio</td>
                                        <td>entre 2h - 8h</td>
                                    </tr>  
                                </tbody>                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row p-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <img src="images/sns.png" alt="">
                            <a href="tel:808242424" class="btn btn-rosa">808 24 24 24</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ps-5">
                            <p class="text-justify">
                                Se tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">1</strong> – se tem febre (temperatura ≥ 38.0ºC) ou tosse e seguir as orientações dadas</li>
                                    <li><strong class="c-rosa">2</strong> – se apresentar outros sintomas sem ser febre ou tosse e seguir as orientações dadas;</li>
                                </ul>
                            </p>
                            <br><br>
                            <p class="text-justify">
                                Se não tens sintomas deves ligar para o SNS 24 – <a href="tel:808242424" class="c-rosa">808 24 24 24</a> e escolher a opção:
                                <ul>                                
                                    <li><strong class="c-rosa">0</strong> – “Se não tem febre, nem tosse, nem qualquer outro sintoma, mas esteve perto de uma pessoa que tem COVID-19 ou que fez recentemente o teste” – e seguir as orientações que lhe são dadas</li>                                    
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
    </div>
</div>