<!-- Modal -->
<div class="modal fade" id="modalVideo" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">         
            <div class="modal-body">
                <div class="video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="iVideo" class="embed-resposive-item yt-player" src="https://www.youtube.com/embed/aKA3MkbKvI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>