<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>usa e abusa</title>

    <link rel="shortcut icon" href="images/Logo.svg">

    <!-- Bootstrap 5.0.0 Beta -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Owl Carousel Pluging -->
    <link rel="stylesheet" href="plugins/owlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="plugins/owlCarousel/owl.theme.default.min.css">

    <!-- usa e abusa styles -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/modal.css">
    <link rel="stylesheet" href="styles/forms.css">
    <link rel="stylesheet" href="styles/sections.css">
    <link rel="stylesheet" href="styles/virus.css">
</head>
<body>
    