<section class="section" id="sectionEPI">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><h2>EPI</h2></div>        
        </div>
    
        <div class="row">
            <p>Equipamento de Proteção Individual</p>
        </div>
    
        <div class="row">
            <p>EPI é qualquer equipamento usado como barreira protetora, com o objetivo de proteger as mucosas, a pele e a roupa do contactos com agentes infeciosos</p>
        </div>
    
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8 d-flex justify-content-center">
                <img class="w-50" src="images/svg/EPI.svg" alt="Equipamentos de Proteção Individual">
            </div>
        </div>
    
        <div class="row">           
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMascara" >Máscara e Viseira</a>                       
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLuvas">Luvas</a>      
        </div>
    </div>
</section>