<section class="section" id="sectionSintomas">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><h2>Sintomas</h2></div>
            <div class="col-sm-6"><h4 class="text-end">COVID-19</h4></div>                
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSintomas">Saber Mais</a>
            </div>        
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="round">
                    <svg viewBox="0 0 500 500"><defs><style>.cls-1{fill:#ead0ce;}.cls-2{fill:#ffc759;}.cls-3{fill:none;stroke:#dd6876;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.82px;}.cls-4{fill:#1c3047;}.cls-5,.cls-7{fill:#dd6876;}.cls-6{fill:#57738d;}.cls-7{opacity:0.5;}</style></defs><g id="Camada_2" data-name="Camada 2"><path id="face" class="cls-1" d="M352.75,187.6c0,13.23-11.16,24-25,24.19v2A72.68,72.68,0,0,1,255,286.47h-7.86A68.48,68.48,0,0,1,178.68,218v-6.19c-13.83-.29-24.93-11-24.93-24.19s11.1-23.89,24.93-24.18V112.84a13.45,13.45,0,0,1,13.44-13.45H314.28a13.45,13.45,0,0,1,13.44,13.45v50.58C341.59,163.65,352.75,174.38,352.75,187.6Z"/><path id="camisola" class="cls-2" d="M380.92,414.83V425.9c-33.71,18.3-78.17,29.42-126.91,29.42-50.63,0-96.64-12-130.78-31.58v-8.91c0-58.36,44.11-106.28,100.38-111.34,3.25-.3,6.54-.44,9.86-.44h37.2c1.54,0,3.09,0,4.62.1C334,305.6,380.92,354.66,380.92,414.83Z"/><path id="nariz" class="cls-3" d="M250.16,177.63v25s-10.61,4.72-8.36,10.42,8.36,7,8.36,7"/><g id="boca"><path class="cls-4" d="M240.81,252.84a16.78,16.78,0,0,1,2.56-10.33,13.71,13.71,0,0,1,4-4.11,11.07,11.07,0,0,1,5.85-1.79,10.93,10.93,0,0,1,5.85,1.79,13.52,13.52,0,0,1,4,4.11,16.84,16.84,0,0,1,2.56,10.33,29.77,29.77,0,0,0-5.18-8.31c-2.1-2.25-4.69-3.71-7.27-3.71a10.35,10.35,0,0,0-7.27,3.7A29.73,29.73,0,0,0,240.81,252.84Z"/></g><path class="cls-4" d="M294.32,173.78a16.92,16.92,0,0,1,.63,6.67,14.43,14.43,0,0,1-2.64,7.17H279.19a15.64,15.64,0,0,1-2.6-11.28c.59-4.49,3.09-8.38,5.83-9.47a9.41,9.41,0,0,1,3.27-.5,17.51,17.51,0,0,1,2.79.23s14.62,1.13,15.86-2.52a5.39,5.39,0,0,1,.24-.63C304.47,163.92,300.94,173.43,294.32,173.78Z"/><path class="cls-4" d="M225.39,187.62H213.92a14.06,14.06,0,0,1-3.47-8.16,17,17,0,0,1,.64-6.68c-6.62-.35-10.16-9.85-10.26-10.32a5.59,5.59,0,0,1,.23.63c1.24,3.64,15.86,2.52,15.86,2.52a17.82,17.82,0,0,1,2.82-.23,9.23,9.23,0,0,1,3.24.49c2.75,1.09,5.24,5,5.83,9.47C229.47,180.32,228,184.88,225.39,187.62Z"/><path id="orelha" class="cls-5" d="M172.36,187.63c0,5.39,2.68,10,6.37,11.51v.58c-7,0-12.76-5.41-12.76-12.09s5.72-12.1,12.76-12.1v.58C175,177.65,172.36,182.23,172.36,187.63Z"/><path id="orelha-2" data-name="orelha" class="cls-5" d="M334.15,187.63c0,5.39-2.68,10-6.38,11.51v.58c7.05,0,12.76-5.41,12.76-12.09s-5.71-12.1-12.76-12.1v.58C331.47,177.65,334.15,182.23,334.15,187.63Z"/><path id="pescoço" class="cls-1" d="M267.56,285.42v17.23h.91c1.21,0,2.43,0,3.63.07,7,3.93,11.42,9.87,11.42,16.53,0,11.81-14.08,21.41-31.44,21.41s-31.47-9.6-31.47-21.41c0-6.5,4.24-12.32,10.94-16.24,1.67-.17,3.34-.28,5-.32v-17Z"/><path id="cabelo" class="cls-4" d="M454,321.1c-.23,3.78-.61,10-5,15.15-6.95,8.09-16.63,4.69-20.19,11.21-3.46,6.34,4.63,11.48,3.93,25.24-.44,8.71-4.49,15.09-7.3,19.64-5.28,8.56-11.48,13.29-19.25,19.07a122.44,122.44,0,0,1-25.27,14.48V414.83c0-60.17-46.88-109.23-105.62-111.68-.68,0-1.37-.06-2.06-.07h-.57c-.19-.12-.38-.24-.57-.34-1.2-.05-2.42-.08-3.63-.08h-.91V285.43h-.18a72.68,72.68,0,0,0,60.34-71.64v-2c13.87-.22,25-10.95,25-24.17s-11.16-24-25-24.18V112.84a12.06,12.06,0,0,0-.1-1.6c-.77,7.33-4.34,13.27-10.1,15.45-7.54,2.87-16.54-1.55-22.45-10.2-.63,8.81-5.44,16.47-13.2,19.41-11.3,4.3-24.6-3-29.69-16.39-.2-.53-.39-1.08-.56-1.61-3.37,9.29-11.27,15.83-20.5,15.83-10.11,0-18.64-7.84-21.34-18.58C205.62,126,196.85,133,188.4,131.26c-4.08-.83-7.43-3.56-9.76-7.46v39.63c-13.83.27-24.93,11-24.93,24.18s11.1,23.89,24.93,24.17V218a68.51,68.51,0,0,0,57.93,67.68h0v17c-1.68,0-3.35.14-5,.31l-.1.06c-.74,0-1.46,0-2.2.06l-1.32.05c-.63,0-1.25.07-1.89.12-.82.05-1.63.11-2.44.19-56.27,5.06-100.38,53-100.38,111.34v8.91c-9.59-2.58-26-8.67-38.84-23.54-6.85-8-11.16-13-11.22-20.2-.07-7.77,4.77-21.19,3.92-28.6a5.78,5.78,0,0,0-1.56-3.65c-2.08-2-5.63-1.39-6.55-1.28-7.38,1-24.52-6.31-29.47-17-5.42-11.66,2-24.89,5.05-30.29,8.2-14.6,19-19,34.12-29.53,7.1-4.93,32.17-22.69,50.86-51,16.23-24.55,20.71-46.55,21.88-53a133,133,0,0,0,2.12-21.61c.05-.82.11-1.85.21-3,3.43-37.5,37.84-97.62,99.5-97.64,61.18,0,98.9,59.12,99.5,97.64,0,1,0,2,0,2.77,5.31,28.31,15.14,48.08,23.17,60.95,5.29,8.46,8.12,11.25,53,64.85C438.75,281.42,455.16,301.43,454,321.1Z"/><path id="cabelo_branco" data-name="cabelo branco" class="cls-6" d="M391.86,242.23c3,3.16,5.69,6.51,8.36,9.9,1.32,1.71,2.64,3.41,3.87,5.19a61.92,61.92,0,0,1,3.48,5.48l-.84.64a62,62,0,0,1-4.38-4.8c-1.38-1.65-2.68-3.37-4-5.1-2.57-3.46-5.08-7-7.35-10.67Z"/><path id="cabelo_branco-2" data-name="cabelo branco" class="cls-6" d="M381.77,242.06a59.91,59.91,0,0,1,4.44,4.73c1.39,1.65,2.74,3.32,4,5a60.62,60.62,0,0,1,3.66,5.29,31,31,0,0,1,2.83,5.88l-.86.61a30.48,30.48,0,0,1-4.64-4.58,63.94,63.94,0,0,1-3.82-5.18c-1.21-1.77-2.35-3.59-3.46-5.44a60.14,60.14,0,0,1-3-5.74Z"/><path id="cabelo_branco-3" data-name="cabelo branco" class="cls-6" d="M231.74,110.82c1.37,1.46,2.64,3,3.87,4.59.62.78,1.23,1.58,1.8,2.4a26.58,26.58,0,0,1,1.61,2.54l-.39.3a28.54,28.54,0,0,1-2-2.23c-.64-.76-1.24-1.56-1.84-2.36-1.19-1.61-2.36-3.23-3.41-5Z"/><path id="cabelo_branco-4" data-name="cabelo branco" class="cls-6" d="M227.06,110.74a26.57,26.57,0,0,1,2.06,2.19c.65.76,1.27,1.54,1.87,2.33a29.74,29.74,0,0,1,1.69,2.46,13.94,13.94,0,0,1,1.31,2.72l-.4.29a14.94,14.94,0,0,1-2.15-2.13,29.66,29.66,0,0,1-1.77-2.4c-.56-.82-1.09-1.66-1.6-2.52a28,28,0,0,1-1.4-2.66Z"/><path id="cabelo_branco-5" data-name="cabelo branco" class="cls-6" d="M264.59,110.82c1.38,1.46,2.64,3,3.88,4.59.61.78,1.22,1.58,1.79,2.4a26.58,26.58,0,0,1,1.61,2.54l-.38.3a26.69,26.69,0,0,1-2-2.23c-.64-.76-1.25-1.56-1.85-2.36-1.19-1.61-2.35-3.23-3.4-5Z"/><path id="cabelo_branco-6" data-name="cabelo branco" class="cls-6" d="M259.92,110.74a28.38,28.38,0,0,1,2.06,2.19c.64.76,1.27,1.54,1.86,2.33a29.74,29.74,0,0,1,1.69,2.46,14,14,0,0,1,1.32,2.72l-.4.29a14.44,14.44,0,0,1-2.15-2.13,27.46,27.46,0,0,1-1.77-2.4c-.56-.82-1.09-1.66-1.61-2.52s-1-1.74-1.4-2.66Z"/><path id="cabelo_branco-7" data-name="cabelo branco" class="cls-6" d="M130.93,235.17c-3,3.16-5.7,6.51-8.36,9.9-1.32,1.7-2.64,3.41-3.87,5.18a63.59,63.59,0,0,0-3.48,5.49l.84.64a59.88,59.88,0,0,0,4.37-4.8c1.39-1.65,2.69-3.38,4-5.1,2.58-3.46,5.09-7,7.35-10.67Z"/><path id="cabelo_branco-8" data-name="cabelo branco" class="cls-6" d="M141,235a60,60,0,0,0-4.45,4.73c-1.38,1.64-2.74,3.31-4,5a62.23,62.23,0,0,0-3.65,5.3,30.69,30.69,0,0,0-2.83,5.88l.86.61a30.54,30.54,0,0,0,4.64-4.59c1.38-1.64,2.61-3.4,3.82-5.17s2.35-3.59,3.45-5.44a60.21,60.21,0,0,0,3-5.74Z"/><path id="sobra" class="cls-4" d="M204.65,154.91A31.53,31.53,0,0,0,213.4,159a27.19,27.19,0,0,0,9.58,1.08,23.92,23.92,0,0,0,9.27-2.71,30.19,30.19,0,0,0,7.58-5.94.52.52,0,0,0,0-.74.54.54,0,0,0-.6-.09l-.17.09a66.41,66.41,0,0,1-8.33,3.79c-.68.2-1.34.46-2,.59s-1.33.36-2,.5-1.34.22-2,.29-1.34.15-2,.2a52.07,52.07,0,0,1-8.26-.52c-2.88-.34-5.82-1-9.13-1.47l-.27,0a.51.51,0,0,0-.58.42A.49.49,0,0,0,204.65,154.91Z"/><path id="sobra-2" data-name="sobra" class="cls-4" d="M262.07,152.45a31.69,31.69,0,0,0,8.11,5.23,27.11,27.11,0,0,0,9.34,2.39,23.68,23.68,0,0,0,9.55-1.4,29.92,29.92,0,0,0,8.33-4.84.51.51,0,0,0,.08-.73.51.51,0,0,0-.57-.17l-.19.07a68.88,68.88,0,0,1-8.77,2.6,19.12,19.12,0,0,1-2.09.3,20.18,20.18,0,0,1-2,.22c-.68,0-1.36,0-2,0s-1.34,0-2-.08a53.18,53.18,0,0,1-8.12-1.65c-2.79-.74-5.63-1.76-8.83-2.73l-.27-.08a.51.51,0,0,0-.48.86Z"/><path id="cabelo_branco-9" data-name="cabelo branco" class="cls-7" d="M276.11,189.38c3.41-.37,7-.58,10.55-.74,1.8-.08,3.61-.16,5.46-.17s3.73,0,5.69.1l.49.56c-1.65.24-3.4.38-5.16.5s-3.58.18-5.4.24c-3.64.11-7.32.17-11.14.07Z"/><path id="cabelo_branco-10" data-name="cabelo branco" class="cls-7" d="M274.54,193.79c1.64-.26,3.37-.42,5.11-.55s3.53-.23,5.34-.28,3.62-.1,5.53,0a51.66,51.66,0,0,1,6,.5l.46.56a29.58,29.58,0,0,1-5,.69c-1.76.12-3.6.14-5.45.15s-3.73,0-5.64-.1-3.85-.17-5.87-.37Z"/><path id="cabelo_branco-11" data-name="cabelo branco" class="cls-7" d="M208.79,189.38c3.41-.37,7-.58,10.56-.74,1.8-.08,3.6-.16,5.45-.17s3.73,0,5.69.1l.49.56c-1.65.24-3.4.38-5.16.5s-3.58.18-5.39.24c-3.65.11-7.33.17-11.15.07Z"/><path id="cabelo_branco-12" data-name="cabelo branco" class="cls-7" d="M207.22,193.79c1.65-.26,3.37-.42,5.11-.55s3.53-.23,5.34-.28,3.62-.1,5.53,0a52,52,0,0,1,6,.5l.46.56a29.84,29.84,0,0,1-5,.69c-1.76.12-3.6.14-5.45.15s-3.73,0-5.64-.1-3.85-.17-5.86-.37Z"/><ellipse class="cls-7" cx="251.09" cy="211.6" rx="13.12" ry="9.47"/></g></svg>                
                    <!-- FADIGA -->                
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma1.svg" alt="Fadiga">
                    </div>
                    <!-- TOSSE -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma2.svg" alt="Tosse">
                    </div>
                    <!-- FEBRE -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma3.svg" alt="Febre">
                    </div>
                    <!-- FALTA DE PALADAR -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma4.svg" alt="Falta de paladar">
                    </div>
                    <!-- DORES DE CABEÇA -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma5.svg" alt="Dores de cabeça">
                    </div>
                    <!-- DORES DE CORPO -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma6.svg" alt="Dores de corpo">
                    </div>
                    <!-- RANHO -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma7.svg" alt="Nariz Entupido">
                    </div>
                    <!-- VOMITOS -->
                    <div class="inside-round" onclick="handleSintoma(this)">
                        <img src="images/svg/sintoma8.svg" alt="Vómitos">
                    </div>
                    <div class="sintomas-text-box">
                        <span id="sintoma-text" class="sintomas-text"></span>                                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>