<section class="section" id="sectionTransmissao">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><h2>Transmissão</h2></div>
            <div class="col-sm-6"><h4 class="text-end">COVID-19</h4></div>                
        </div>
    
        <div class="row justify-content-md-between align-items-center">       
            <div class="col-11 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="owl-carousel owl-theme .owl-main owl-trasmicao">
                    <div>                
                        <p>O vírus pode se espalhar quando uma pessoa infetada liberta pequenas partículas liquidas, como quando tosse, espirra, fala, canta ou respira profundamente.</p>
                    </div>
                    <div>
                        <p>Podes ficar infetado se o vírus entrar em contacto com a tua boca, nariz ou olhos. Isto acontece mais frequentemente quando se está perto de alguém infetado a menos de 1 metro de distância</p>
                    </div>
                    <div>                
                        <p>O vírus tem a capacidade de permanecer sobre objectos. Pelo que podes infectado se tocares numa superfície atingida pelo vírus e em seguida tocares nos olhos, nariz ou boca sem ter primeiro lavado as mãos.</p>                
                    </div>            
                </div>
                <a href="#" id="owl-btn" class="owl-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTransmissao">Saber Mais</a>
            </div>        
            <div class="offset-3 col-6 offset-sm-3 col-sm-6 offset-md-0 col-md-4 col-lg-4 col-xl-4">
                <div class="owl-carousel owl-theme owl-trasmicao owl-img">     
                    <div>
                        <img src="images/svg/espirro.svg" alt="Espirro">                                
                    </div>           
                    <div>
                        <img src="images/svg/porContacto.svg" alt="Contacto">                
                    </div>
                    <div>
                        <img src="images/svg/lavarMaos.svg" alt="Superficies">                                
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>