<section class="section" id="sectionMovimento">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6"><h2>MOVIMENTO</h2></div>        
        </div>
    
        <div class="row">
            <div class="col-4 col-sm-4">
                <img src="images/svg/movimento.svg" alt="">
            </div>
            <div class="col-8 col-sm-8 d-flex flex-column justify-content-around">            
                <p class="text-justify">
                    A vida é feita de obstáculos e com eles nasce a força e a vontade de os superarmos.
                    <br><br>
                    Com a chegada da pandemia vários desafios económicos foram lançados a nossa sociedade, e alguns dos nossos colegas sofrem estes  desafios na pele.
                    <br><br>
                    Se tens vontade, e possibilidade de ajudar, seja através contributo económico, de material de proteção individual, ou voluntariado, clica no botão abaixo e vê a tua ajuda ser concretizada.
                    <br><br>
                    Todo o dinheiro e material recebido no <strong>usa e abusa</strong> será integralmente doado para uma associação que ajuda estudantes carenciados.
                </p>                                        
                <a href="#" class="btn btn-primary align-self-end" data-bs-toggle="modal" data-bs-target="#modalDonation">Como podes ajudar?</a>            
            </div>        
        </div>
    </div>
</section>